:root {
  --typography-color: theme(colors.zinc.600);
  --typography-heading: theme(colors.zinc.950);
  --typography-strong: theme(colors.zinc.950);
  --typography-link: theme(colors.zinc.950);
  --typography-link-underline: theme(colors.zinc.200);
  --typography-link-underline-hover: theme(colors.zinc.400);
  --typography-code: theme(colors.zinc.950);
	--typography-pre-background: theme(colors.transparent);
	--typography-pre-border: theme(colors.black)/10;
  --typography-thead-border: theme(colors.zinc.200);
  --typography-list-marker: theme(colors.zinc.950);
  --typography-hr: theme(colors.zinc.200);
}

@media (prefers-color-scheme: dark) {
  :root {
    --typography-color: theme(colors.zinc.400);
    --typography-heading: theme(colors.white);
    --typography-strong: theme(colors.white);
    --typography-link: theme(colors.white);
    --typography-link-underline: theme(colors.zinc.600);
    --typography-link-underline-hover: theme(colors.zinc.400);
    --typography-code: theme(colors.white);
		--typography-pre-background: theme(colors.zinc.950);
    --typography-thead-border: theme(colors.zinc.800);
    --typography-list-marker: theme(colors.white);
    --typography-hr: theme(colors.zinc.800);

    .shiki,
    .shiki span {
      color: var(--shiki-dark) !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
}

.typography {
  color: var(--typography-color);
  font-size: theme(fontSize.base);
  line-height: 1.75rem;
	tab-size: 2;

  :where(.typography > *) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  :where(.lead) {
    font-size: 1rem;
    line-height: 1.75rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  :where(strong) {
    color: var(--typography-strong);
    font-weight: 600;
  }

  :where(h1) {
    color: var(--typography-heading);
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  :where(h2) {
    color: var(--typography-heading);
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
    scroll-margin-top: 6rem;
  }

  :where(h3) {
    color: var(--typography-heading);
    font-size: 1rem;
    font-weight: 600;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
    scroll-margin-top: 6rem;
  }

  :where(h4) {
    color: var(--typography-heading);
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 0;
    scroll-margin-top: 6rem;
  }

  :where(h4 + p) {
    margin-top: 0.5rem;
  }

  :where(h2 + h3) {
    margin-top: 2rem;
  }

  :where(hr) {
    border-color: var(--typography-hr);
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  :where(hr + h2) {
    margin-top: 4rem;
  }

  :where(code:not(pre code)) {
    color: var(--typography-code);
    font-weight: 600;
    font-size: 0.9375rem;
  }

  :where(code:not(pre code)):after,
  :where(code:not(pre code)):before {
    content: '`';
  }

  :where(pre) {
    background-color: var(--typography-pre-background);
  }

  :where(pre code) {
    font-family: theme(fontFamily.code);
    font-weight: 450;
  }

  :where(a) {
    color: var(--typography-link);
    text-decoration: underline;
    font-weight: 500;
    text-decoration-color: var(--typography-link-underline);
    text-underline-offset: calc(3 / 16 * 1rem);
  }

  :where(a):hover {
    text-decoration-color: var(--typography-link-underline-hover);
  }

  :where(.typography:first-child > :first-child),
  :where(li > :first-child) {
    margin-top: 0 !important;
  }

  :where(.typography:last-child > :last-child),
  :where(li > :last-child) {
    margin-bottom: 0 !important;
  }

  :where(ul) {
    padding-left: 1rem;
    list-style-type: disc;
  }

  :where(li) {
    padding-left: 0.25rem;
  }

  :where(li)::marker {
    color: var(--typography-list-marker);
  }

  :where(table) {
    width: 100%;
  }

  :where(thead) {
    border-bottom: 1px solid var(--typography-thead-border);
  }

  :where(th) {
    font-weight: 600;
    color: var(--typography-heading);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  :where(td) {
    vertical-align: baseline;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 25%;
  }

  :where(td:last-child) {
    width: 50%;
  }
}
